.header-container {
  background-color: #8d8b8b;
  padding: 8px;
}

.header-container--section-icons {
  display: flex;
  justify-content: space-around;
}

.header-container input {
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  line-height: 30px;
  padding-left: 8px;
}

.header-container--button-magnifier {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
