.foods-container {
  background-color: #222121;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 6px;
  padding-bottom: 80px;
}

.foods-container img {
  border-radius: 100%;
  box-shadow: 2px 2px 8px 2px grey , 8px 8px 8px 8px black;
  width: 100px;
}

.foods-container p {
  color: #efd9d1;
  max-width: 10ch;
  overflow: hidden;
  padding-left: 6px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.foods-container--card {
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 140px;
  margin: 20px;
  width: 106px;
}

.foods-container--detail-view {
  display: none;
}

.foods-container--category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.foods-container button {
  background-color: #d7a631;
  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px 4px 4px black;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
  margin: 4px 8px;
  width: 100px;
}
