.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 100vh;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.header-container {
  background-color: #0fa36b;
}

.header-component {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.header-component button {
  background-color: #808d8800;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

img {
  width: 30px;
}

.header-component img {
  width: 18px;
}

.search-bar--input-radio {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 5px 0;
  text-align: center;
}

.search-bar--input-radio button {
  background-color: #085739;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  color: white;
}

.search-bar--input-text {
  border: none;
  border-radius: 15px;
  margin: 2px;
  padding: 0 0 0 10px;
  width: 355px;
}
